<!doctype html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css" />
    
</head>
<body ng-app='appLearn' ng-controller="ApplicationController">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MissatgesApp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/#/">Missatges</a></li>
        <li ng-if="currentUser"><a href="/#/noumissatge">Crea Missatge</a></li>
        <li><a  ng-if="!currentUser" href="/#/registre">Registre</a></li>
        <li><a ng-if="!currentUser" href="/#/login">Login</a></li>
      </ul>

      <ul ng-if="currentUser" class="nav navbar-nav navbar-right">
        <li><a>Connectat com {{currentUser.username}}</a></li>
        <li><a ng-click="logout()"class="btn btn-danger btn-xs">Desconnectar</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    
    

    <div ng-view></div>
    <script type="text/javascript" src="jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-route.js"></script>
    <script src="app.js"></script>
    
</body>
</html>