<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <form role="form" ng-show="currentUser">
                <div class="form-group">
                        
                      <label for="textArea" class="col-xs-12 control-label">Missatge</label>
                      <div class="col-xs-12">
                        <textarea class="form-control" rows="4" ng-model="missatgeBody" id="textArea"></textarea>
                        <button class="btn btn-success btn-lg btn-block" ng-click="editarMissatge()">Editar Missatge</button>
                      </div>

                </div>
            </form>
        </<div>
    </<div>
</div>